body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 800px;
    margin: 40px auto;
    background-color: #f3f3f3;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 15px;
    margin-top: 3%;
}

.photo {
    width: 150px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2c3e50;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.header-text h1 {
    margin: 0;
    color: #030303;
}

.header-text p {
    margin-top: 5px;
    font-size: 18px;
    color: #000000;
}

.info p {
    margin: 5px 0;
}

section {
    margin-top: 25px;
}

section h2 {
    color: #2c3e50;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #2c3e50;
    color: white;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.cv {
    text-align: center;
    margin-top: 0px;
    border: 2px solid #2c3e50;
}
