body{
    font-family: 'Segoe UI', Tahoma, Verdana, Verdana, Geneva, Tahoma, sans-serif;
}
main{
    box-shadow: 30px px 40px rgb(196, 196, 196),-30px 0px 40 px rgb(196, 196, 196);
    margin: auto;
    max-width: 900px;
}
.srkl{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
}
header{
    height: 160px;
    padding-top: 10px;
    color: white;
    background-color: #0c9090ba;


}
.photo{
    margin-left: 7%;
    border-radius: 50%;
    width: 130px;
    border: #fff;
    border-style: double;
    height: 130px;
    overflow:hidden ;
}
.photo :hover{ width: 130%;
    color: #fff;
    -moz-transition: width 5s linear 0s;

}
.photo :active{
    width: 170px;color: #c3a913;
    -moz-transform: rotate3D(-20deg);
    -moz-transition: all 5s linear 0s;
}
.des{
    margin-left: 25%;
    margin-top: -10%;
    

}

h3{
    margin-right: 8%;
    color: #fff;

    
    
}

.post{
    color: orange;
    font-weight: bold;
    letter-spacing: .1rem;


}
.right{
    margin:5px ;
    padding: Opx;
    margin-top: -10%;

}
.right p{
    margin-left: 600px;
    letter-spacing: .1rem;
}
.info{
    width: 20px;
    height: 20px;

}
.section-left{
    background-color: #fff;
    float: left;
    width: 400px;

}

h4{
    margin-left: 10%;
    color: #13c3ba;
    letter-spacing: .1rem;
    font-size: 18px; 
}
hr.light{
    border-top: 2px solid #13c3ba;
    width: 90%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.atouts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    }
.div{
    margin-left: 10%;

}
.skls{
    padding: 0;
    width: 40%;
    margin-left: 10%;

}
.cool{
    background-color: #fff;
    border: 2px solid #ccc;
    height: 7px;
}
.po{
    margin-top: 20px;

}
strong{
    color: #13c3ba;
    text-decoration: none;

}
.inner{
    height: 100%;
    background-color: orange;
    
}

    



.interet{
    margin-left: 10%;
}
span{
    margin-left: 10%;
}

